.aside {
    position: sticky;
    top: 116px;
    padding-right: 48px;

    hr {
        border: none;
        height: 1px;
        background-color: #e6e6e6;
    }
}

.username {
    font-size: 1.6rem;
    font-weight: 600;
    color: #292929;
    margin-bottom: 0;
}
.userTitle {
    font-size: 1.4rem;
    color: #757575;
    margin-top: 10px;
    word-break: break-word;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
    margin-top: 24px;
    font-size: 1.6rem;
    color: #757575;

    .bntReact {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 4px 8px;
        -webkit-user-select: none;
        user-select: none;

        &:hover {
            cursor: pointer;
            color: #333;
        }

        svg {
            font-size: 2rem;
        }

        &.active {
            color: #ed2b48;
        }
    }
}

.heading {
    margin-top: 40px;
    font-size: 3rem;
    line-height: 1.4;
    font-weight: 700;
    color: #222;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.user {
    display: flex;
}

.wrapperContent {
    color: #292929;
    word-wrap: break-word;
    line-height: var(--line-height, 2);
    font-size: var(--font-size, 1.8rem);

    .metaInfo {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 24px;
        font-size: 1.4rem;
        color: #666;

        .dot {
            color: #999;
        }
    }

    .thumbnail {
        margin: 24px 0;
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }
    }

    .content {
        margin-top: 24px;

        blockquote {
            padding-left: 16px;
            border-left: 2px solid
                var(--comment-blockquote-border-color, #00aaaa);
            color: var(--comment-title-color, #4e586b);
            font-size: 1.4rem;
            font-weight: 600;
        }

        img {
            max-width: 100%;
            max-height: 420px;
            border-radius: 8px;
            vertical-align: bottom;
            box-shadow: 0 0 0 1px
                var(--comment-image-border-color, rgba(0, 0, 0, 0.05));
        }

        a {
            display: inline-block;
            margin: 16px 0;
            color: #0093fc;
            font-size: 1.6rem;
            font-weight: normal;
            font-family: inherit;
        }

        code {
            padding: 1px 3px;
            border-radius: 3px;
            color: var(--prism-inline-code-color);
            background-color: var(--prism-inline-code-bg, #c9fffc);
            white-space: pre-wrap;
            word-break: keep-all;
            font-size: 1.6rem;
        }

        :global(.ql-code-block-container) {
            padding: 16px;
            border-radius: 8px;
            background: var(--prism-bg, #f2f9ff);
            color: #323c4a;
            font-size: 1.6rem;
        }
    }

    p,
    ul,
    ol,
    table,
    blockquote {
        margin: 16px 0;
    }

    blockquote {
        margin-left: 0;
        padding: 0 0 2px 20px;
        border-left: 3px solid var(--primary-color);
        color: #6d6d6d;
        font-weight: 600;
    }

    ul {
        list-style: disc;
    }

    ul,
    ol {
        padding-left: 24px;
    }

    em {
        font-weight: unset;
        font-style: italic;
    }
    strong {
        font-weight: 700;
    }

    a[href] {
        color: var(--primary-color, #f05123);
        text-decoration: underline;
    }

    img {
        max-width: 100%;
        max-height: 480px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
        border-radius: 12px;
        box-shadow: 0 0 2px #0003;
        vertical-align: bottom;

        cursor: zoom-in;
    }
}

.bodyBottom {
    margin-top: 60px;

    hr {
        margin: 60px 0;
        border-top: 3px solid #f05123;
    }
}

.tags {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    font-size: 1.4rem;
    color: #666;
    padding: 7px 10px;
    border-radius: 3px;
    background-color: #f2f2f2;
    margin: 8px 8px 0 0;
}

.relatedPost {
    margin-top: 60px;

    .relatedHeading {
        font-size: 2.2rem;
        line-height: 1.8;
    }

    .noResult {
        margin-top: 16px;
        font-size: 1.6rem;
        color: #757575;
    }

    .list {
        margin-top: 16px;
        padding-left: 28px;
        list-style-type: disc;
        font-size: 1.6rem;

        a {
            display: inline-block;
            padding: 4px 0;
            color: #292929;
        }
    }
}
