button {
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

.normal,
.secondary,
.primary {
    flex-shrink: 0;
    transition: opacity 0.25s;

    color: #fff;
}

.normal {
    color: #000;
    background-color: #fff;
}

.text {
    color: inherit;

    margin-right: 30px;
    font-size: 1.4rem;
    font-weight: 500;
}

.secondary {
    background: linear-gradient(to right bottom, #ff8f26, #ff5117);
}

.primary {
    background-color: #0093fc;
}

.rounded {
    border-radius: 999px;
}

.small {
    min-width: 110px;

    padding: 9px 20px;
    font-size: 1.4rem;
    font-weight: 600;
}

.medium {
    min-width: 148px;
    height: 32px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 1px;
}

.large {
    min-width: 160px;
    height: 40px;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 1px;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    &:hover {
        opacity: 0.5;
    }
}
