@keyframes shake {
    0% {
        transform: translate(0);
    }
    25% {
        transform: translate(-4px);
    }
    50% {
        transform: translate(4px);
    }
    75% {
        transform: translate(-4px);
    }
    100% {
        transform: translate(0);
    }
}

.wrapper_juilt {
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
}
.wrapper {
    text-align: left;
    color: #292929;
    width: 100%;
}

.labelWrap {
    position: relative;
    display: block;
    margin: 30px auto;
    width: 180px;
    height: 180px;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0000004d;
        border-radius: 50%;
        z-index: 1;
        transition: all 0.3s;
        opacity: 0;
        visibility: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        aspect-ratio: 1;
        flex-shrink: 0;
    }
}

.addNew {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 20px;
    border-radius: 10px;
    background-color: #fff;

    &:hover {
        cursor: pointer;
        background-color: #f2f2f2;
    }
}

.labelGroup {
    display: flex;
    justify-content: space-between;

    label {
        font-size: 1.4rem;
        font-weight: 600;
        margin: 10px 0 10px 8px;
        display: block;
    }
}

.inputWrap {
    position: relative;
    background: #fff;
    border: 1.5px solid #dee3e9;
    border-radius: 44px;
    overflow: hidden;
    height: 44px;
    display: flex;
    transition: border-color 0.3s;

    &:not(.invalid):focus-within,
    &:not(.invalid):hover {
        border-color: #1dbfaf;
    }

    input {
        display: block;
        width: 100%;
        padding: 12px 42px 12px 20px;
        border: none;
        outline: none;
        font-size: 1.4rem;
        background-color: transparent;
    }
}

.invalid {
    background-color: #fdebee !important;
    border-color: #f33a58 !important;
    transition: 0.2s;

    &:focus,
    &:hover {
        background-color: inherit !important;
        border-color: #f33a58 !important;
    }
}

.message {
    margin: 10px 0 0 8px;
    color: #f33a58;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
}

.textArea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 2px solid rgb(232, 232, 232);
    border-radius: 8px;
    color: #333;
    display: block;
    font-size: 1.4rem;
    font-family: inherit;
    min-height: 96px;
    padding: 12px;
    resize: none;
    -webkit-transition: background-color 0.15s cubic-bezier(0.2, 0.2, 0.2, 1),
        border-color 0.15s cubic-bezier(0.2, 0.2, 0.2, 1);
    transition: background-color 0.15s cubic-bezier(0.2, 0.2, 0.2, 1),
        border-color 0.15s cubic-bezier(0.2, 0.2, 0.2, 1);
    width: 100%;
    outline: none;

    &:not(.invalid):focus-within,
    &:not(.invalid):hover {
        border-color: #1dbfaf;
        outline: none;
    }
}

.errorIcon {
    width: 32px;
    pointer-events: none;
    animation: shake 0.35s linear 1;
    color: #f33a58;
}
.iconContainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    right: 0;
    padding: 0 10px 0 0;
    background: none;
    border: none;
    cursor: pointer;
}

.example {
    font-size: 1.2rem;
    color: #7d8a93;
    margin-top: 6px;
    margin-left: 8px;
}
