*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    outline: none;
    box-shadow: none;
    display: block;
    padding: 0;
    color: inherit;
    background-color: transparent;

    font-family: inherit;
}

svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}

.svg-inline--fa {
    display: inline-block;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    fill: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    font-weight: 600;
}

.container {
    max-width: 1320px;
}
